body{
    background-color: black;

   
}
h3,h1{
    color:red
}
footer{
    grid-area: pie;
    background-color:black;
    display: flex;
    flex-flow: row ;
    background-image: url("img/fondoLevis.jpg");
    margin: 0px;
}
.centrar{
    margin: 0;padding: 75vh;
}
.pie{
    margin: 0;padding-left: 72vw;
}